extends layout.pug

block content
  if !loggedIn
    .col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3
      .alert.alert-danger.messagebox.center
        strong Требуется авторизация
        p Вы должны <a href="/login">войти в систему,</a> чтобы иметь доступ к этой странице.
  if !superadmin
    .col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3
        .alert.alert-danger.messagebox.center
          strong Доступ к этой странице имеет только администратор
  else
    .col-lg-6.col-md-6
      h3 Мои каналы
      if deleteChannelError
        .alert.alert-danger.center.messagebox
          strong Ошибки при удалении канала
          p= deleteChannelError
      if channels.length == 0
        .center
          strong У вас нет ни одного канала
      else
        table.table.table-bordered
          thead
            tr
              th Канал
          tbody
            for c in channels
              tr
                th
                  form.form-inline.pull-right(action="/account/channels", method="post", onsubmit="return confirm('Are you sure you want to delete " +c.name+ "?  This cannot be undone');")
                    input(type="hidden", name="_csrf", value=csrfToken)
                    input(type="hidden", name="action", value="delete_channel")
                    input(type="hidden", name="name", value=c.name)
                    button.btn.btn-xs.btn-danger(type="submit") Удалить
                      span.glyphicon.glyphicon-trash
                  a(href=`/${channelPath}/${c.name}`, style="margin-left: 5px")= c.name
    .col-lg-6.col-md-6
      h3 Зарегистрировать новый канал
      if newChannelError
        .alert.alert-danger.messagebox.center
          strong Ошибки при регистрации канала
          p= newChannelError
      form(action="/account/channels", method="post")
        input(type="hidden", name="_csrf", value=csrfToken)
        input(type="hidden", name="action", value="new_channel")
        .form-group
          label.control-label(for="channelname") URL-адрес канала
          .input-group
            span.input-group-addon #{baseUrl}/#{channelPath}/
            input#channelname.form-control(type="text", name="name", maxlength="30", onkeyup="checkChannel()")
          p#validate_channel.text-danger.pull-right
        button#register.btn.btn-primary.btn-block(type="submit") Зарегистрировать

append footer
  script(type='text/javascript').
    function checkChannel(){
        function nameIsInvalid(id){
            if(/\s/.test(id)){
                return 'URL-адрес канала не должен содержать пробелов';
            }
            if(id === ''){
                return 'URL-адрес канала не может быть пустым';
            }
            if(!/^[\w-]{1,30}$/.test(id)){
                return 'URL-адрес канала может состоять только из a-z, A-Z, 0-9, - и _';
            }
            return false;
        }

        var box = $("#channelname");
        var value = box.val();
        var lastkey = Date.now();
        box.data("lastkey", lastkey);

        setTimeout(function () {
            if (box.data("lastkey") !== lastkey || box.val() !== value) {
                return;
            }
            if(nameIsInvalid(value)){
                $('#validate_channel').text(nameIsInvalid(value))
                    .parent().addClass('has-error').removeClass('has-success');
                $('#register').addClass('disabled');
            } else {
                $('#validate_channel').text('')
                    .parent().addClass('has-success').removeClass('has-error');
                $('#register').removeClass('disabled');
            }
        }, 200);

    }
