mixin lcheckbox(id, label)
  .form-group
    label.control-label.col-sm-4(for=id)= label
    .col-sm-8
      .checkbox
        input(type="checkbox", id=id)

mixin rcheckbox(id, label)
  .form-group
    .col-sm-8.col-sm-offset-4
      .checkbox
        label(for=id)
          input(type="checkbox", id=id)
          = label

mixin textbox(id, label, placeholder)
  .form-group
    label.control-label.col-sm-4(for=id)= label
    .col-sm-8
      if placeholder
        input.form-control(id=id, type="text", placeholder=placeholder)
      else
        input.form-control(id=id, type="text")

mixin us-general
  #us-general.tab-pane
    h4 Общие настройки
    form.form-horizontal(action="javascript:void(0)")
      .form-group
        label.control-label.col-sm-4(for="#us-theme") Тема
        .col-sm-8
          select#us-theme.form-control
            option(value="/css/themes/light.css") Light
            option(value="/css/themes/bootstrap-theme.min.css") Bootstrap
            option(value="/css/themes/slate.css") Slate
            option(value="/css/themes/cyborg.css") Cyborg
            option(value="/css/themes/modern.css") Modern
      .form-group
        label.control-label.col-sm-4(for="#us-layout") Располежение чата и видеоплеера
        .col-sm-8
          select#us-layout.form-control
            option(value="default") Compact
            option(value="synchtube") Synchtube (flipped)
            option(value="fluid") Fluid
            option(value="synchtube-fluid") Synchtube + Fluid
            option(value="hd") HD
      .col-sm-4
      .col-sm-8
        p.text-danger Изменение макета(темы) может потребовать перезагрузки страницы для вступления в силу.
      +rcheckbox("us-no-channelcss", "Игнорировать CSS стили канала")
      +rcheckbox("us-no-channeljs", "Игнорировать Javascript скрипты канала")
      .clear

mixin us-scripts
  #us-scriptcontrol.tab-pane
    h4 Доступ к сценарию
    table.table
      thead
        tr
          th Канал
          th Тип
          th Разрешить/запретить
          th Очистить

mixin us-playback
  #us-playback.tab-pane
    h4 Настройки воспроизведения
    form.form-horizontal(action="javascript:void(0)")
      +rcheckbox("us-synch", "Синхронизация воспроизведения видео")
      +textbox("us-synch-accuracy", "Сихнронизировать (в секундах)", "2")
      +rcheckbox("us-wmode-transparent", "Установить wmode=transparent(прозрачный)")
      .form-group
        .col-sm-4
        .col-sm-8
          p.text-info Установка <code>wmode=transparent</code> позволяет отображать объекты над видеоплеером, но может вызвать проблемы с производительностью в некоторых системах.
      +rcheckbox("us-hidevideo", "Скрыть видеоплеер")
      +rcheckbox("us-playlistbuttons", "Скрыть панель управления плейлистом  по умолчанию")
      +rcheckbox("us-oldbtns", "Старое оформление панели управления плейлиста")
      .form-group
        label.control-label.col-sm-4(for="#us-default-quality") Качество
        .col-sm-8
          select#us-default-quality.form-control
            option(value="auto") Авто
            option(value="240") 240p
            option(value="360") 360p
            option(value="480") 480p
            option(value="720") 720p
            option(value="1080") 1080p
            option(value="best") Самое высокое из доступных
      .form-group
        .col-sm-4
        .col-sm-8
          p.text-info Из-за технических изменений на стороне YouTube предпочтение качества CyTube больше не может автоматически применяться к видео на YouTube.  Подробности см. <a href="https://github.com/calzoneman/sync/issues/726" rel="noopener noreferer" target="_blank">на GitHub</a>.

mixin us-chat
  #us-chat.tab-pane
    h4 Настройки чата
    form.form-horizontal(action="javascript:void(0)")
      +rcheckbox("us-chat-timestamp", "Показать время отправки сообщения")
      +rcheckbox("us-sort-rank", "Сортировать список участинков по рангу")
      +rcheckbox("us-sort-afk", "Расположить неактивных пользователей(афк) внизу списка")
      .col-sm-4
      .col-sm-8
        p.text-info Следующие 3 параметра применяются к тому, как и когда вы будете получать уведомления о получении нового сообщения в чате.
      .form-group
        label.control-label.col-sm-4(for="#us-blink-title") Мигающий заголовок страницы при появлении новых сообщений
        .col-sm-8
          select#us-blink-title.form-control
            option(value="never") Никогда
            option(value="onlyping") Только когда меня упоминают или когда пишут в лс
            option(value="always") Всегда
      .form-group
        label.control-label.col-sm-4(for="#us-ping-sound") Звуковое уведомления о новых сообщениях
        .col-sm-8
          select#us-ping-sound.form-control
            option(value="never") Никогда
            option(value="onlyping") Только когда меня упоминают или когда пишут в лс
            option(value="always") Всегда
      .form-group
        label.control-label.col-sm-4(for="#us-notifications") Уведомления на рабочем столе о новых сообщениях
        .col-sm-8
          select#us-notifications.form-control
            option(value="never") Никогда
            option(value="onlyping") Только когда меня упоминают или когда пишут в лс
            option(value="always") Всегда
      +rcheckbox("us-sendbtn", "Добавить кнопку отправки в чат")
      +rcheckbox("us-no-emotes", "Отключить эмоции в чате")
      +rcheckbox("us-strip-image", "Удаление изображений из чата")
      .form-group
        label.control-label.col-sm-4(for="#us-chat-tab-method") Tab completion method(спросить у Исраила)
        .col-sm-8
          select#us-chat-tab-method.form-control
            option(value="Cycle options") Cycle options
            option(value="Longest unique match") Longest unique match

mixin us-mod
  #us-mod.tab-pane
    h4 Настройки администратора
    form.form-horizontal(action="javascript:void(0)")
      +rcheckbox("us-modflair", "Показать цвет имени")
      +rcheckbox("us-shadowchat", "Показывать сообщения беззвучных участников")
      +rcheckbox("us-show-ip-in-tooltip", "Показывать IP-адреса во всплывающей подсказке профиля")